.container {
  height: 100vh;
}
.form-wrapper {
    margin-top: 30px;
}
h2 {
    margin-bottom: 1em;
}

.form-signin {
  min-width: 40%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
  /* border: 2px solid lightgray; */
  padding: 1em 2em;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
