/* You can add global styles to this file, and also import other style files */

@import "https://bootswatch.com/4/flatly/bootstrap.min.css";
@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";

body {
  background-color: #f4f6f6;
}

a {
  cursor: pointer;
}

.help-block{
  color: red;
}
