<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Photogram - email confirmation</title>

    <style>
        @media only screen and (max-width: 600px) {
            .main {
                width: 320px !important;
            }
            table[class="contenttable"] {
                width: 320px !important;
                text-align: left !important;
            }
            td[class="force-col"] {
                display: block !important;
            }
            td[class="rm-col"] {
                display: none !important;
            }
            .emailButton a {
                display: block !important;
                font-size: 18px !important;
            }
        }
    </style>
</head>

<body link="#00a5b5" vlink="#00a5b5" alink="#00a5b5">
<table class="main contenttable" align="center"
       style="font-weight: normal; border-collapse: collapse; border: 0; margin-left: auto; margin-right: auto; padding: 0; font-family: Arial, sans-serif; color: #555559; background-color: white; font-size: 16px; line-height: 26px; width: 600px;">
    <tr>
        <td class="border"
            style="border-collapse: collapse; border: 1px solid #eeeff0; margin: 0; padding: 0; -webkit-text-size-adjust: none; color: #555559; font-family: Arial, sans-serif; font-size: 16px; line-height: 26px;">
            <table style="font-weight: normal; border-collapse: collapse; border: 0; margin: 0; padding: 0; font-family: Arial, sans-serif;">
                <tr>
                    <td valign="top" class="side title" style="border-collapse: collapse; border: 0; margin: 0; padding: 20px; -webkit-text-size-adjust: none; color: #555559; font-family: Arial, sans-serif; font-size: 16px; line-height: 26px; vertical-align: top; background-color: white; border-top: none;">
                        <table style="font-weight: normal; border-collapse: collapse; border: 0; margin: 0; padding: 0; font-family: Arial, sans-serif;">
                            <tr>
                                <td class="head-title" style="border-collapse: collapse; border: 0; margin: 0; padding: 0; -webkit-text-size-adjust: none; color: #555559; font-family: Arial, sans-serif; font-size: 28px; line-height: 34px; font-weight: bold; text-align: center;">
                                    <div class="mktEditable" id="main_title"> Welcome to Photogram <hr size="1" color="#eeeff0"></div>
                                </td>
                            </tr>

                            <tr>
                                <td class="text" style="border-collapse: collapse; border: 0; margin: 0; padding: 0; -webkit-text-size-adjust: none; color: #555559; font-family: Arial, sans-serif; font-size: 16px; line-height: 26px;">
                                    <h4>
                                        Dear <span th:text="${firstname}">Alex</span>,
                                    </h4>
                                    <div class="mktEditable" id="main_text">
                                        <p>
                                            We are very happy to welcome you to the Photogram community. You are joining us at an
                                            exciting time of year, where the weather makes for the best picture taking adventures.
                                        </p>

                                        <p>
                                            We are hopeful that with your fresh ideas and
                                            enthusiasm, and creativity, this will be the platform for you to share the world with everyone.
                                        </p>
                                        <p>To get started please confirm your email by clicking the button bellow.
                                        <br></p>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td style="border-collapse: collapse; border: 0; margin: 0; padding: 0; -webkit-text-size-adjust: none; color: #555559; font-family: Arial, sans-serif; font-size: 16px; line-height: 24px;">
                                    &nbsp;<br>
                                </td>
                            </tr>
                            <tr>
                                <td class="text" style="border-collapse: collapse; border: 0; margin: 0; padding: 0; -webkit-text-size-adjust: none; color: #555559; font-family: Arial, sans-serif; font-size: 16px; line-height: 24px;">
                                    <div class="mktEditable" id="download_button" style="text-align: center;">
                                        <a style="color: #ffffff; background-color: #ff8300; border: 20px solid #ff8300; border-left: 20px solid #ff8300; border-right: 20px solid #ff8300; border-top: 10px solid #ff8300; border-bottom: 10px solid #ff8300; border-radius: 3px; text-decoration: none;"
                                                th:href="${confirmationUrl}" href="#">Confirm email</a>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>

</html>
